* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #b7b7b7;
    background-image: url("images/basket-svgrepo-com.svg");
}
.wrapper {
    margin: 2rem auto auto auto;
    width: 70%;
}
.input-wrapper {
    display: flex;
    justify-content: space-around;
}
#textInput {
    height: 44px;
    max-width: 100%;
    flex-grow: 1;
    border: none;
    padding: 4px 4px 4px 1rem;
    border-radius: 40px;
    outline: none;
}

.btn {
    border: none;
    padding: 2px;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}
.btn svg {
    vertical-align: middle;
}
.minus-btn {
    margin: 5px 10px 5px 0;
}

#content {
    min-height: 200px;
    max-width: 100%;
    background-color: #ffffdd;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 6px 10px;
    padding: 1.5em;
    font-family: sans-serif;
}
.item {
    width: fit-content;
    font-size: 24px;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .wrapper {
        width: 40%;
    }
}
